h1 {
    text-align: center;
    color: bisque;
}

body {
    background-color: aquamarine;
}

a {
    color:cadetblue;
    text-decoration: none;
    text-align: center;
}

img { display: block; margin: 0 auto; }
