<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mason.css') }}">
    <title>Corrine</title>
</head>
<body>
    <h1>Corrine's Secret Site</h1>
    <p>Nothing will explain the incompetence! Also this is the picture that looks the most like corrine soooo....</p>
    <img src="{{ url_for('static', filename='images/corrine.jpeg') }}" alt="Corrine">
</body>
</html>