<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/liam.css') }}">
    <title>LIAM FAN PAGE</title>
</head>
<body>
    <p>This page is dedicated to the FANBOYING over Liam aka my daaddy. we love him more than life itself!</p>
    <div class="liam">
        <h1>LLLLLLLLLLL</h1>
        <h2>IIIIIIIIIII</h2>
        <h3>AAAAAAAAAAA</h3>
        <h4>MMMMMMMMMMM</h4>
    </div>
    <img src="{{ url_for('static', filename='images/kermit.png') }}" alt="">
</body>
</html>