<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mason.css') }}">
    <title>Mason</title>
</head>
<body>
    <h1>Mason's Secret Site</h1>
    <p>It was a beautiful day in a serene towub fn, kids were playing and adults were laughing. Everyone was having an amazing day, everyone except Mason. See, Mason is walking home from school with his head down and his eyes watering, but most of all his neck was hurting, now you might be thinking that is an odd thing to say, which it is but soon you will understand. Let’s take a trip to earlier that day.

Mason was sitting at his desk at school, he was half sleeping as his teacher was talking about something Mason would need to know. Mason just couldn’t listen. He was up late last night and barely got any sleep. As he sleepily walked to his next class, all the kids looked at him and made fun of him calling him “Megamind” and “Bill” (bill cipher). He wasn’t even sad he was used to it by now. See, remember when I said Mason’s neck was hurting, it’s because he has what is referred to as a Foreheadius Maxiumis. It was SO large it would be a good comparison to JUPITER the planet. And so as Mason is walking home with his head as large as ever, he realizes something, something that he has never thought of before, “Why is my forehead so dang large?”. 

He thought about this for some time and couldn’t put his finger on it, his dad and mom had perfectly reasonably sized foreheads, along with every family member he could think of. Once he had arrived at his house, he noticed both of his parents were gone, “They must be at the store.”, he thought. Then he realized this would be a great time to try and figure out if anyone in his family had a Foreheadius Maximus as well, and so he headed upstairs and found the cabinet where his parents kept all of the family pictures, and he saw a picture dated 1989 but it was a picture of him!? He wasn’t sure if it was a mistake or what but then he realized it had a name on it, “David Adams”. He had never heard of this name before, but apparently it was his uncle. He wanted to talk to his uncle about all kinds of things like where he buys hats, but he lives in Mississippi and he was in Oregon.

This wasn’t even a problem for him though because he has a form of transportation, HIS FOREHEAD, so he went outside and slammed his head into the ground and went flying into the atmosphere and flew all the way to Mississippi, he landed down and walked over to his uncle’s house. When he arrived at his uncle’s house, he saw multiple holes in the roof and he knew this was the place. He walked up to the door, and knocked, and a tall man with a forehead the size of Venus answered, and said “Get out of here! No one loves you! Wait, no, it’s not possible, y-your forehead. It’s just like mine. Mason, is that you?”.

Mason came in and sat down and they talked for hours about hats, and insults that people have said to them, and both of them felt understood. When night fell and it became dark, Mason knew he had to head home, and so he went outside said goodbye and left. Once he had arrived his parents were still gone, and never returned. The End

</p>
    <img src="{{ url_for('static', filename='images/mason.jpeg') }}" alt="FOREHEAD">
</body>
</html>
