<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mason.css') }}">
    <title>Mason</title>
</head>
<body>
    <h1>Mason's Secret Site</h1>
    <p>It was a beautiful day in a serene town, kids were playing and adults were laughing. Everyone was having an amazing day, everyone except Mason. See, Mason is walking home from school with his head down and his eyes watering, but most of all his neck was hurting, now you might be thinking that is an odd thing to say, which it is but soon you will understand. Let’s take a trip to earlier that day.

Mason was sitting at his desk at school, he was half sleeping as his teacher was talking about something Mason would need to know. Mason just couldn’t listen. He was up late last night and barely got any sleep. As he sleepily walked to his next class, all the kids looked at him and made fun of him calling him “Megamind” and “Bill” (bill cipher). He wasn’t even sad he was used to it by now. See, remember when I said Mason’s neck was hurting, it’s cause he has what is referred to as a Foreheadius Maximus… TO BE CONTINUED
</p>
    <img src="{{ url_for('static', filename='images/mason.jpeg') }}" alt="FOREHEAD">
</body>
</html>